

<style type="text/css">
.headline {font-family:arial; font-size:22px; color:red}
.sub {font-family:arial; font-size:22px; color:#111861}
.subup {font-family:arial; font-size:30px; color:#390F0F}
.ss {font-family:arial; font-size:22px; color:#black}
</style>