<style type="text/css">
.headline {font-family:arial; font-size:22px; color:red}
.sub {font-family:arial; font-size:22px; color:#111861}
.subup {font-family:arial; font-size:35px; color:#6D0000}
.ss {font-family:arial; font-size:22px; color:#black}
</style>